.characters-list {
  margin: 0 4rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;  
}

.characters-list li {
  border-radius: 20px;
  overflow: hidden;
  background-color: #202329;
  box-shadow: 0 0 3px;
}

.characters-list li img {
  transition: transform 0.3s ease-in-out;
}
.characters-list li img:hover {
  transform: scale(1.1);
}
.characters-list p {
  color: white;
  font-size: 1rem;
}
.character-status {
  color: white;
  margin-bottom: 1rem;
}
.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.status-dot.alive {
  background: #55cc44;
}
.status-dot.dead {
  background: #d63d2e;
}
.status-dot.unknown {
  background: grey;
}
img {
  width: 100%;
  height: auto; 
  cursor: pointer;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  list-style: none;
  padding: 0;
}
.dialog-image {
  width: 80%; 
  height: auto;
  border-radius: 50%;
  border: 2px solid #030303;
}
.dialog-text {
  font-size: 1.5rem;
  color: #333; 
}