.search-field {
  position: relative;
  width: 20%;
  margin: 2rem auto;
}

.search-field input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 10px; 
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  
}


